body {
	padding: 0;
	margin:0;
	font-family: 'abel-regular';
}


html, body, #mapid {
	height: 100%;
	display: block;
  	overflow-y: hidden;
	font-family: 'abel-regular';
	font-size: .98em;
}

/* -------------------------------------------------------------------------- */
/* 											   		LEAFLET SIDEBAR		 															*/
/* -------------------------------------------------------------------------- */
.leaflet-sidebar-header {
	background-color: #02419a;
	display: block;
	position: static;
}

.leaflet-sidebar-content {
	background-color: rgba(255,255,255,.75);
	backdrop-filter:blur(6px);
}

.leaflet-sidebar-tabs > ul > li.active,
.leaflet-sidebar-tabs > ul > li.active:hover {
	 background-color: #02419a;
 }

.leaflet-sidebar-tabs > ul > li:hover {
	background-color: rgba(0,0,0,.25);
	/* opacity: .1; */
	transition: .2s
}

.leaflet-sidebar-tabs {
	 background-color: #F4F4F4;
	 box-shadow: 2px 0px 2px 0px #656565;
}

/* feather icons */
.feather-icons {
	margin-top: 25%;
	height: 50%;
}

#logo_fs {
	padding-top:10px;
	height:130px;
}

#intro {
	margin-top: 5px;
}

/* -------------------------------------------------------------------------- */
/* 											   EXPLORER LES ESPACES	 															*/
/* -------------------------------------------------------------------------- */

#trouvez-moi {
	background-color: rgba(0,0,0,.5);
	left: 15%;
	font-family: 'abel-regular';
	font-size: .95em;
	display: flex;
	border: none;
	border-color: transparent;
	padding: 10px;
	border-radius:5px;
	box-shadow: -0.02px 0 5px rgba(0,0,0,.5);
	transition: .1ss ease-in-out;
	/* color: white; */
	cursor: pointer;
}

#trouvez-moi:hover {
	background: #02419a;
	color:white;
	transition: ease-in-out .1s;
}

/* -------------------------------------------------------------------------- */
/* 													CHAMP DE RECHERCHE 																*/
/* -------------------------------------------------------------------------- */

#searchField {
	font-family: 'abel-regular';
	min-width: 150%;
	max-width: 200%;
	border: none;
	height: 25px;
	border-color: transparent;
	padding: 5px;
	border-radius: 5px;
	box-shadow: -0.02px 0 5px rgba(0,0,0,0.2);
}

#searchField:focus {
	outline: none;
}

#refresh > .feather-icons {
	height: 17px;
}

#refresh {
	background-color: rgba(0,0,0,0);
	position: absolute;
	margin-top: -37px;
	left: 200px;
	display: block;
	border: none;
	border-color: transparent;
	padding: 5px;
	border-radius:5px;
	/* box-shadow: -0.01px 0 4px rgba(0,0,0,.3); */
	transition: .1s ease-in-out;
	cursor: pointer;
	z-index: 10000;
}

#refresh:focus {
	outline: none;
}

hr {
	margin-top: 20px;
	border: none;
	border-top: solid 1px;
	color:black;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

/* -------------------------------------------------------------------------- */
/* 								FICHE DE CONTACT 							  */
/* -------------------------------------------------------------------------- */

.picto-fiche {
	margin: 0;
	padding:0;
	margin-top: -3px;
	vertical-align: middle;
	height:20px;
	padding-right: 10px;
};


